@font-face {
    font-family: 'Matter';
    font-weight: 100;
    font-display: swap;
    src: url('~@/assets/fonts/Matter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-display: swap;
    src: url('~@/assets/fonts/NeueHaasDisplay-Roman.woff2') format('woff2');
}